
<mat-card class="example-card">
  <mat-card-header class="d-flex justify-content-center">
     <mat-card-subtitle>{{kullanici.ad.toUpperCase() +" "}}{{kullanici.soyad.toUpperCase()}}</mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>
     <div class="row">
       <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Kullanıcı Id</mat-label>
          <input matInput  [(ngModel)]="kullanici.id">
        </mat-form-field>
       </div>
       <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Doğum Tarihi</mat-label>
          <input matInput  [(ngModel)]="kullanici.dogumTarihi">
        </mat-form-field>
       </div>

     </div>

     <div class="row">
       <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Mevcut Kilo</mat-label>
          <input matInput  [(ngModel)]="kullanici.mevcutKilo">
        </mat-form-field>
       </div>
       <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Hedef Kilo</mat-label>
          <input matInput  [(ngModel)]="kullanici.hedefKilo">
        </mat-form-field>
       </div>
     </div>
     <div class="row">
       <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Cinsiyeti</mat-label>
          <input matInput  [(ngModel)]="kullanici.cinsiyet">
        </mat-form-field>
       </div>
       <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput  [(ngModel)]="kullanici.email">
        </mat-form-field>
       </div>
     </div>

     <div class="row">
      <div class="col-6">
       <mat-form-field class="example-full-width">
         <mat-label>Aktiflik Seviyesi</mat-label>
         <input matInput  [(ngModel)]="kullanici.aktiflikSeviyesi">
       </mat-form-field>
      </div>
      <div class="col-6">
       <mat-form-field class="example-full-width">
         <mat-label>Hedefi</mat-label>
         <input matInput  [(ngModel)]="kullanici.hedef">
       </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
       <mat-form-field class="example-full-width">
         <mat-label>Boy</mat-label>
         <input matInput  [(ngModel)]="kullanici.boy">
       </mat-form-field>
      </div>
      <div class="col-6">
       <mat-form-field class="example-full-width">
         <mat-label>Şifre</mat-label>
         <input matInput  [(ngModel)]="kullanici.sifre">
       </mat-form-field>
      </div>
    </div>




  </mat-card-content>
  <mat-card-actions class="d-flex flex-column" >
    <progress *ngIf="showProgress" class="d-block w-100 mx-auto"></progress>
    <mat-divider></mat-divider>
     <h3 class="text-success d-block w-100 text-center" *ngIf="isUpdated">Güncellendi</h3>
    <mat-divider></mat-divider>

      <button mat-stroked-button color="primary" (click)="updateUser()" >Güncelle</button>
     <mat-divider></mat-divider>
    <button mat-button  [mat-dialog-close]="kullanici">Kapat</button>

   </mat-card-actions>
</mat-card>
