<home-intro></home-intro>

  <div class="row p-2">
    <div class="col-md-4  ">
      <app-pie-cinsiyet></app-pie-cinsiyet>
    </div>
    <div class="col-md-8  ">
      <kullanicitablo></kullanicitablo>
    </div>
  </div>
  <mat-divider class="my-2"></mat-divider>
  <div class="row p-2">
    <div class="col-md-3  ">
      <cards-kullanici></cards-kullanici>
    </div>
    <div class="col-md-3">
      <cards-gida></cards-gida>
    </div>
    <div class="col-md-3  ">
      <cards-notification></cards-notification>
    </div>
    <div class="col-md-3">
      <cards-detail></cards-detail>
    </div>



  </div>
